<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!--1.加载参数文件-->
    <context:property-placeholder location="classpath:res/db.properties"/>

    <!--2.配置数据源-->
    <bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--配置数据源属性-->
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!--让spring管理sqlsessionfactory 使用mybatis和spring整合包中的 -->
    <!--3.配置SqlSessionFactory-->
    <bean id="mySqlSessionFaction" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="myDataSource"></property>
        <!--配置模型对象别名-->
        <property name="typeAliasesPackage" value="com.yjg.pojo"></property>
        <!--导入分页插件-->
        <property name="configLocation" value="classpath:res/sqlMapConfig.xml"></property>
    </bean>

    <!--4.配置mybatis接口在spring中的动态扫描路径-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

        <property name="basePackage" value="com.yjg.mapper"></property>

        <property name="sqlSessionFactoryBeanName" value="mySqlSessionFaction"></property>

    </bean>

    <!--5.配置事物管理器-->
    <bean id="mytransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="myDataSource"></property>
    </bean>

    <!-- 6.配置事物的使用规则 -->
    <tx:annotation-driven transaction-manager="mytransactionManager" proxy-target-class="true"/>
</beans>